Repository LordRonz/risaikuru-be: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --max-warnings=0", "prettier -w"],
  "src/**/*.{json,css,scss,md,mdx}": ["prettier -w"],
  "./**/*.{md,json,yml,yaml,html}": ["prettier -w"]
}

fix: commitlint ignore ts :rocket:
  tsconfig.json
Due: prettier -w

feat: add 404 response :rocket:
  .lintstagedrc.json
  .nvmrc
  package.json
  src/app.ts
  src/controller/classify.controller.ts
  src/controller/classifyBuffer.controller.ts
  src/server.ts
Due: eslint --max-warnings=0, prettier -w

feat: docker configurations :rocket:
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: prettier -w

feat: modify dockerignore :rocket:
  .dockerignore
  Dockerfile
Due: none

feat: add docker scripts :rocket:
  package.json
Due: prettier -w

feat: modify dockerfile :rocket:
  Dockerfile
Due: none

feat: add docker scripts, docker production :rocket:
  Dockerfile
  docker-compose.prod.yml
  package.json
Due: prettier -w

feat: ngnetot :rocket:
  src/controller/classifyBuffer.controller.ts
Due: eslint --max-warnings=0, prettier -w
